<!-- <nav style="text-align: center; color: White">
  <div class="site-title">
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/login">login</a>
  </div>
  <p>CollabHub : A final year project</p>
   
  
</nav> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../public/assets/navbar.css">
</head>
<nav>
  <div class="wrapper">
    <div class="logo"><a href="/">CollabHub</a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>
</html>

