<nav style="text-align: center; color: White">
  <div class="site-title">
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/login">login</a>
  </div>
  <p>CollabHub : A final year project</p>
   
  
</nav>
